@model MemesPortal.Models.Memes

@{
    ViewData["Title"] = "Edit";
}

<h2>Edycja Linku</h2>

<h4>Link</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MemesId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <img class="img-responsive full-width" id="logoImage" src="Imageinput" alt="Podgląd" 
                 style="border:1px ;margin-top:20px; margin-left:120px;" />

            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" id="Imageinput" asp-for="Image" class="form-control" name="Image" 
                    onchange="document.getElementById('logoImage').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Date" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Users" asp-action="Index">Wróc do panelu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
