@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-default navbar-fixed-top" role="alert">
        <div class="collapse navbar-collapse">
            <p class="navbar-text">
                Polityka Prywatności.
            </p>
            <div class="navbar-btn">
                @(Html.Kendo().Button()
                    .Name("showDialogBtn")
                    .HtmlAttributes(new { style = "display:none;", @class = "k-button hidden-on-narrow" })
                    .Content("Kliknij aby otworzyć")
                    .Events(ev => ev.Click("showDialog"))
                )
            </div>
            @(Html.Kendo().Dialog()
                .Name("dialog")
                .Title("Polityka Prywatności")
                .Content("<p>Czy akceptujesz naszą politykę prywatności?<p>")
                .Width(400)
                .Modal(false)
                .Actions(actions =>
                {
                    actions.Add().Text("Pokaz wiecej").Action("onShow");
                    actions.Add().Text("Akceptuj polityke prywatnosci").Primary(true).Action("onOK");
                })
                .Events(ev => ev.Close("onClose").Open("onOpen"))
            )
        </div>
    </nav>
    <script>
        function onClose() {
            $("#showDialogBtn").fadeIn();
        }

        function onOpen() {
            $("#showDialogBtn").fadeOut();
        }

        function showDialog() {
            $('#dialog').data("kendoDialog").open();
        }
        function onShow(e) {
            window.location.href = '/Home/Privacy/';
        }
        function onOK(e) {
            document.cookie = '@cookieString';
        }
    </script>
}





